@import '../../../../../app/assets/stylesheets/page_bundles/pipelines';

.linked-pipeline-mini-list {
  .linked-pipeline-mini-item {
    &:first-of-type:last-of-type {
      @include gl-mr-0;
    }
  }

  .linked-pipelines-counter {
    &:hover {
      background: $gray-100;
    }
  }
}
